<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('navbar', {links: links})  %>
        <div class="message-container">
            <p><%= message.text %></p>
            <p><%= message.user %></p>
            <p><%= message.added %></p>
        </div>
        <a href="/">Back</a>
    </body>
</html>